
html{
margin:0;
padding:0;
}

body{
font-family:monospace;
color:#202020;
background:whitesmoke;
margin:0;
padding:0;
}

h1,h2,h3,h4,h5,h6{
font-weight:normal;
color:#5E4026;
border:#5E4026 dotted 0;
margin:1rem 0;
padding:0;
height:1.1em;
}
h1::before,h2::before,h3::before,h4::before,h5::before,h6::before{
/* http://ikreator.com/special-characters/ */
content:"\2588"; /* █ 9608 2588 */
/*content:"\25c6"; /* ◆ 9670 25C6 */
/*content:"\25c8"; /* ◈ 9672 25C8 */
/*content:"\25a3"; /* ▣ 9635 25A3 */
/*content:"\25c0"; /* ◀ 25C0 */
/*content:"\25b6"; /* ▶ 25B6 */
/*content:"\25b7"; /* ▷ 25B7 */
/*content:"\25c1"; /* ◁ 25C1 */
/*content:"\25e2"; /* ◢ 25E2 */
/*content:"\25e3"; /* ◣ 25E3 */
/*content:"\25e4"; /* ◤ 25E4 */
/*content:"\25e5"; /* ◥ 25E5 */

display:inline-block;
width:2.4rem;
margin:0 0.1em 0 -2.6rem;
padding:0;
text-align:right;
}

h1{
font-size:1.5rem;
border-bottom-width:2px;
}
h2{
font-size:1.2rem;
border-bottom-width:1px;
}
h3{
font-size:1.1rem;
}
h4{
font-size:1.0rem;
}
h5{
font-size:1.0rem;
}
h6{
font-size:1.0rem;
}

p{
margin:0 0 .8rem 0;
}

a:link,a:visited{
color:#5E4026;
text-decoration:none;
}
a:hover{
color:#A19D84;
}

table{
border-collapse:collapse;
}
tbody{
border-bottom:transparent solid 2em;;
}
tr{}
td,th{
vertical-align:top;
padding:0 0 1em 1em;
}
tr td:first-child,
tr th:first-child
{
padding-left:0;
}
th{
text-align:left;
font-weight:normal;
}
th strong{
font-size:1.1em;
}

form{
margin:0;
padding:0;
display:table;
}
form > div{
display:table-row;
}
form > div > *{
display:table-cell;
vertical-align:top;
padding:0 0 1em 1em;
}
form > div > *:first-child{
padding-left:0;
}
input{
width:20em;
}
textarea{
width:30em;
height:20em;
}

#portfolio div.image{
height:10em;
width:10em;
overflow:hidden;
position:relative;
text-align:right;
}
#portfolio div.image:hover{
overflow:visible;
}
#portfolio div.image img{
max-width:30em;
}
#portfolio div.image:hover img{
position:absolute;
top:0;
right:0;
z-index:1000;
}




