
body{
font-size:15px;
}

#main {
max-width:50rem;
margin:0 auto;
padding:4rem 0 0 0;
}

#main > header{
position:fixed;
top:0;
left:0;
right:0;
padding:0.5rem 2rem;
background:rgba(94, 64, 38, 0.9);
border-radius:0 0 0.5rem 0.5rem;
box-shadow:0 0 2px;
}

#main > header > h1{
max-width:50rem;
margin:0 auto;
left:0;
color:#E1DDC2;
border-color:#A19D84;
}
#main > header > h1::before{
color:#A19D84;
}

#main > header > nav{
max-width:50rem;
margin:0 auto;
text-align:right;
}
#main > header > nav a:link,
#main > header > nav a:visited{
color:#A19D84;
text-decoration:none;
}
#main > header > nav a:hover{
color:#E1DDC2;
}
#main > header > nav a:link::before{
content:".";
}

#sections{
padding-right:10em;
}
#sections > section{
}
#sections > section#about p{
font-size:1.5em;
line-height:2em;
}

