
html{
margin:0;
padding:0;
}

body{
margin:0;
padding:0;
font-size:15px;
font-family:monospace;
}

h1,h2,h3,h4,h5,h6{
margin:0;
padding:0;
font-weight:normal;
}
h1{
font-size:1.6em;
margin:.6em 0;
}
h2{
font-size:1.5em;
margin:.5em 0;
}
h3{
font-size:1.45em;
margin:.45em 0;
}
h4{
font-size:1.3em;
margin:.3em 0;
}
h5{
font-size:1.25em;
margin:.25em 0;
}
h6{
font-size:1.1em;
margin:.1em 0;
}

/*
h1::before,h2::before,h3::before,h4::before,h5::before,h6::before{
}
h1::after,h2::after,h3::after,h4::after,h5::after,h6::after{
color:#ccc;
position:relative;
right:-.5em;
}
h1::after{content:"h1"}
h2::after{content:"h2"}
h3::after{content:"h3"}
h4::after{content:"h4"}
h5::after{content:"h5"}
h6::after{content:"h6"}
*/

p{
margin:0 0 .8em 0;
line-height:1.2em;
}

a:link,a:visited{
text-decoration:none;
color:#000099;
}
a:hover{
color:gray;
}

form{}
label{}
input{}
textarea{}

body > header{
position:fixed;
top:0; right:0; left:0;
margin:0; padding:0 3em;
text-align:right;
border-bottom:#ccc solid 1px;
background:rgba(255,255,255,0.9);
height:5em;
box-shadow:0 0 .1em .1em whitesmoke;
}

body > header > nav{}
body > header > nav a{
position:relative;
top:-1px;
white-space:nowrap;
display:inline-block;
}
body > header > nav a:hover{
background:whitesmoke;
outline:#ccc solid 1px;
color:#333;
}
body > header > nav a::before,
body > header > nav a::after{
content:":";
color:#ccc;
}
body > header > nav a:hover::before,
body > header > nav a:hover::after{
color:gray;
}

main{
margin:5em 5em 0 3em;
}

main > section *{
display:none;
}
main > section h2{
display:block;
}
